.doctors {
  padding: 4rem 4rem;
}

.doctors h4 {
  font-size: 20px;
  background-color: #0da8bc74;
  display: inline-block;
  color: #0b7e8d;
}

.doctors-main-title {
  font-size: 60px;
  line-height: 1;
  position: relative;
  color: #0da8bc;
}

.doctors-main-title span {
  color: #f95759;
}

.doctors-main-title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  background-color: #0da8bc;
  top: 110%;
  left: 0;
}

.doctors-container {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

@media only screen and (max-width: 1024px) {
  .doctors-main-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .doctors-main-title {
    font-size: 40px;
  }
  .doctors {
    padding: 2rem;
  }
  .doctors h4 {
    font-size: 15px;
  }
}
