.logo {
    width: 150px;
    height: 50px;
}

header {
    margin-bottom: 4rem;
}

nav {
    z-index: 3;
    box-shadow: 2px .4rem .8rem rgba(51, 51, 51, 0.151);
    padding: 0 4rem;
    height: 4rem;
}

@media only screen and (max-width: 650px) {
    nav {
        padding:0;
    }
}

nav .main-links a {
    text-decoration: none;
    padding: .5rem 1rem;
    color: #072F60 !important;
    font-weight: 600;
    box-shadow: inset 0 0 0 0 #0DA8BC;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-transform: uppercase;
}

nav .main-links a:hover {
    box-shadow: inset 100px 0 0 0 #0DA8BC;
    color: white !important;
}

.login-section {
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section span:nth-child(2) {
    padding: 0 .5rem;
}

.login-section span a {
    background-color: #0DA8BC;
    transition: all .3s;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.login-section span a:hover {
    background-color: #0DA8BC;
    color: #fff;
}

.user-content {
    display: flex;
    align-items: center;
    gap: .2rem;
    border-radius: 20px;
    background-color: rgb(232, 231, 231);
    font-weight: 500;
    padding: .3rem;
    justify-content: center;
    max-width: 400px;
}

.user-content img {
    height: 30px;
    width: 30px;
    border-radius: 100vh;
}

.logout-btn {
    outline: none;
    border: none;
    padding: .5rem;
    font-weight: 500;
}





